.contener {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(231, 235, 240);
}

.formPassword {
    .topLogo {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .boxPassword {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        & > div {
            display: flex;
            padding: 0 10px;
        }
    }

    .boxButton {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &:first-child > div {
            padding-top: 0;
        }

        & > div {
            padding: 6px 10px;
        }
    }

    .boxCharPassword {
        border: 1px solid #9d9d9d;
        border-radius: 6px;
        padding: 6px;
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 46px;
        color: #584f4f;
    }
}